.bg-pink {
  background: $light-pink;
}
.bg-purple {
  background: $purple;
}
.bg-green {
  background: $light-green;
}
.bg-img1 {
  background: url(/img/oclbg.png) no-repeat center / cover;
}
.bg-img2 {
  background: url(/img/seewhybg.png) no-repeat center / cover;
}
